@import "tailwindcss";

@theme {
  --color-white: #ffffff;
  --color-black: #000000;
}

@layer base {
  body {
    background-color: black;
    color: white;
    -webkit-font-smoothing: antialiased;
  }
}
