@import "tailwindcss";

@theme {
  --color-white: #ffffff;
  --color-black: #000000;
}

@layer base {
  body {
    background-color: black;
    color: white;
    -webkit-font-smoothing: antialiased;
  }
}

@layer utilities {
  @keyframes shine {
    0% { transform: translateX(-150%) skewX(12deg); }
    50% { transform: translateX(250%) skewX(12deg); }
    100% { transform: translateX(250%) skewX(12deg); } /* Pause gap before looping */
  }
}
